*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.faq-container {
    width: 100%;
    height: 100vh;
    /* padding: 10px; */
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 100px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.faq-item {
    /* margin-bottom: 5px; */
    border-bottom: 1px solid #ddd;
}

.faq-question {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.faq-question > h3 {
    font-size: 20px;
}

.faq-question > svg {
    font-size: 20px;
}

.faq-item > p {
    font-size: 16px;
    margin: 10px 0 0 30px;
}

@media screen and (max-width:896px) {
    .faq-container {
        width: 100%;
        height: 100vh;
        padding: 10px;
    }
    .faq-question {
        align-items: flex-start;
    }
    .faq-question > h3 {
        font-size: 15px;
    }
    
    .faq-question > svg {
        font-size: 25px;
    }
    
    .faq-item > p {
        font-size: 13px;
        margin: 10px 0 0 30px;
    }
}
